{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication System</title>
</head>

<body>
  
          <form method="post">
            {% csrf_token %}
            {% if error %}

            <!-- <div class="invalid"> -->
  <p style="color: red;"><strong>Invalid email or password.</strong></p>
  {% endif %}
  <!-- </div> -->
            <div class="form-outline mb-4">
              <div class="form-control form-control-lg">
                {{form.email|as_crispy_field}}
              </div>
              
            </div>

            <div class="form-outline mb-4">
              <div class="form-control form-control-lg">
                {{form.password|as_crispy_field}}
              </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>