{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crime Detection System</title>
  <link rel="stylesheet" href="{% static 'webadmin/style_2.css' %}">
</head>

<body>
  <header class="police-header">
    <h1>Crime Detection System</h1>
    <p>Please sign in to continue</p>
  </header>
          <form method="post">
            {% csrf_token %}
            {% if error %}

            <!-- <div class="invalid"> -->
  <p style="color: red;"><strong>Invalid email or password.</strong></p>
  {% endif %}
  <!-- </div> -->
            {{form}}

            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>